body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

.card-transparan{
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
    margin-right: 100px;
}


.table-transparan{
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
    border-radius: 15px;
}

.table-transparan th,
.table-transparan td{
    background: transparent;
    border-color: rgba(255,255,255,0.3);
}

.table-transparan:hover {
    transform: translateY(-10px);
    transition: .3s ease-in-out;
}

